*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --blue: #1E90FF;
  --blue-hover: #4682B4;
  --green: #37D893;
  --green-hover: #2E8B57;
}
.col{
  flex-direction: column;
}
.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}